@use '@styles/variables' as vars;

.header {
  padding-top: 4rem;

  .navbar {
    background: vars.$bg-header;
    border-bottom: 1px solid #ffffff1a;

    .nav-link {
      font-family: vars.$font-primary;
      font-size: 16px;
      color: vars.$color-primary;
      cursor: pointer;
      text-transform: uppercase;

      &:hover {
        color: vars.$hover-color-primary;
      }

      &.active {
        color: vars.$hover-color-primary;
      }
    }

    .navbar-toggler {
      border: none;
      background-color: vars.$color-primary;
      padding: 5px 10px 10px 10px;
      border-radius: 0;
      z-index: 9999;
      outline: none;
      box-shadow: none;

      .navbar-toggler-icon {
        width: 1em;
        height: 0.8em;
      }
      
      .close-icon {
        padding: 0 5px;
        color: white;
        cursor: pointer;
        transition: transform 0.3s ease;
      }
      
    }

    .navbar-collapse {
      flex-grow: 0;
    }
  }
}

.logo-container {
  position: absolute;
  top: 10px;
  left: 10%;
  transform: translateX(-50%);
  z-index: 1000;
}

.logo {
  width: 100px;
  height: 100px;
}

/* For responsive design */
@media (min-width: 2401px) {
  .logo-container {
    left: 28%;
  }
}


@media (min-width: 2161px) and (max-width: 2400px) {
  .logo-container {
    left: 25%;
  }
}

@media (min-width: 2000px) and (max-width: 2160px) {
  .logo-container {
    left: 22%;
  }
}

@media (min-width: 1710px) and (max-width: 1999px) {
  .logo-container {
    left: 20%;
  }
}

@media (min-width: 1510px) and (max-width: 1709px) {
  .logo-container {
    left: 15%;
  }
}

@media (max-width: 991px) {
  .header {
    padding-top: 2.3rem;
  }

  .logo-container {
    top: 0px;
    left: 13%;
  }

  .logo{
    width: 70px;
    height: 70px;
  }

  .navbar-collapse {
    background: vars.$bg-header;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    z-index: 999;
  }

  .navbar-nav {
    flex-direction: column;
    gap: 10px;
  }

  .nav-link {
    font-size: 18px;
    color: vars.$color-white;
  }

  .navbar-toggler.collapsed {
    background-color: vars.$color-primary;
  }

  .navbar-toggler:not(.collapsed) {
    background-color: vars.$bg-header;

    .navbar-toggler-icon {
      background-color: vars.$color-primary;
    }
  }
}
