@use "@styles/variables" as vars;
@use "@styles/mixins" as mixins;
@use "@styles/animations.scss";

.about-section {
  padding: clamp(50px, 5vw, 100px) 0;
  background-color: vars.$color-white;

  .about-images {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    .image-wrapper {
      position: relative;
      width: 100%;
      max-width: clamp(100%, 50%, 500px);
      display: flex;
      flex-direction: column;

      @media (max-width: 1200px) {
        align-items: center;
      }

      .main-image-wrapper {
        width: 100%;
        height: auto;
        display: block;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        @media (min-width: 1200px) {
          width: 75%;
        }
      }

      &::before {
        content: "";
        position: absolute;
        width: 150px;
        height: 150px;
        background-image: url("/images/dot-png.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        bottom: 45px;
        left: 30px;
        opacity: 0.5;
        display: none;

        @media (min-width: 1400px) {
          display: block;
        }
      }

      .overlay-image-wrapper {
        position: relative;
        margin: clamp(-80px, -5vw, -100px) 0 0 clamp(0px, 10vw, 350px);
        width: 70%;
        height: auto;
        max-height: clamp(180px, 25vw, 250px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1;

        @media (max-width: 1023px) {
          width: 50%;
          margin: clamp(-80px, -5vw, -100px) 0 0 clamp(0px, 10vw, 0px);
        }

        @media (max-width: 1199px) {
          margin: -60px 0 0 0;
        }
      }

      .rotated-text {
        position: absolute;
        font-family: vars.$font-secondary;
        font-size: 40px;
        color: vars.$color-secondary;
        right: -8%;
        top: 22%;
        transform: rotate(270deg) translateY(-50%);
        white-space: nowrap;
        font-weight: bold;
        opacity: 0.8;
        z-index: 9;
      }
    }
  }

  .about-content {

    .title {
      @include mixins.section-title;
    }

    .description {
      @include mixins.section-description;
    }

    ul.features {
      list-style: none;
      padding: 0;
      margin-bottom: 20px;

      li {
        display: flex;
        align-items: center;
        font-size: clamp(14px, 2vw, 16px);
        margin-bottom: 10px;

        .icon {
          color: vars.$color-primary;
          margin-right: 10px;
        }
      }
    }
  }

  @media (max-width: vars.$breakpoint-tablet) {
    .about-content {
      margin-top: 40px;
    }
  }
}

.whychooseus-section {
  background-color: vars.$bg-body;

  .title {
    @include mixins.section-title;
  }

  .description {
    @include mixins.section-description;
  }

  .features-list {
    margin-top: 20px;

    .feature-item {
      padding: 18px 10px;
      cursor: pointer;
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.6s ease-out, transform 0.6s ease-out;

      img {
        width: 40px;
        height: 40px;
      }

      h5 {
        font-size: 20px;
        font-family: vars.$font-primary;
        font-weight: 700;
        color: var(--color-black);
      }

      p {
        font-family: vars.$font-primary;
        font-weight: 500;
        color: var(--color-black);
        font-size: 14px;
      }

      &:hover .icon-circle {
        background-color: var(--color-secondary);
      }

      &.fade-in-up {
        opacity: 1;
        transform: translateY(0);
      }
    
      &.hidden {
        visibility: hidden;
      }
    }
  }

  .image-grid {
    gap: 14px;

    .image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .image1 {
      width: 60%;
      height: 290px;
    }

    .image2 {
      width: 40%;
      height: 290px;
    }

    .image3 {
      width: 70%;
      height: 340px;
    }

    .image4 {
      width: 30%;
      height: 340px;
    }
  }

  .icon-circle {
    width: 60px;
    min-width: 60px;
    height: 60px;
    background-color: var(--bg-icon);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;

    svg {
      color: var(--color-white);
      fill: var(--color-white);
      transition: fill 0.3s ease-in-out;
    }
  }
}

.slider-section {
  padding: 60px 0;
  text-align: center;

  .title {
    font-family: var(--font-secondary);
    font-size: clamp(20px, 4vw, 40px);
    color: var(--color-primary);
    font-weight: 700;
  }

  .description {
    color: var(--color-secondary);
    font-size: clamp(14px, 3vw, 20px);
    padding-bottom: 10px;
    border-bottom: 0.8px solid var(--color-primary);
    margin-top: -10px;
  }

  .swiper-wrapper {
    padding-bottom: 40px;
  }
  
  .swiper-pagination {
    position: absolute;
    bottom: 5px !important;
    left: 50% !important;
    transform: translateX(-50%);
    text-align: center;
  
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: var(--color-secondary);
      opacity: 0.5;
      transition: all 0.3s ease-in-out;
  
      &.swiper-pagination-bullet-active {
        background-color: var(--color-primary);
        opacity: 1;
        transform: scale(1.2);
      }
    }
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  
    img, .single-video-item .video-div a img {
      width: 100%;
      min-height: 280px;
      height: auto;
      transition: transform 0.5s ease-in-out;
  
      &:hover {
        transform: scale(1.03);
      }
    }
  }
  
  @media (max-width: 1024px) {
    .swiper-slide img {
      height: 220px !important;
      min-height: 220px !important;
    }
  }
  
  @media (max-width: 480px) {
    .video-heading {
      font-size: 0.9rem;
    }
  }
}

.fixed-background-section {
  background: url("/images/hero8.jpg") center/cover fixed;
  padding: clamp(80px, 10vw, 150px) 0;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;
  }

}
