@import "bootstrap/scss/bootstrap";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Root Variables
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #9D7049;
  --color-secondary: #553105;
  --hover-color-primary: #775435;
  --bg-header: #f6f2ee;
  --bg-icon: #dec5b0;
  --font-primary: 'Hanken Grotesk', sans-serif;
  --font-secondary: 'La Belle Aurore', cursive;
}

// Font Imports
@font-face {
  font-family: 'Hanken Grotesk';
  src: url('/fonts/hanken-grotesk-v8-latin-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'La Belle Aurore';
  src: url('/fonts/LaBelleAurore.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Global Styles
html, body {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
  color: #333;
}

// Header Styling
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
